/* Firefox */
.sidebar-scroll {
    scrollbar-width: thin;
    scrollbar-color: #cccccc #002979;
    scrollbar-track-color: #E8EFF6;
    scrollbar-shadow-color: #002979;
}

/* Chrome, Edge, and Safari */
.sidebar-scroll::-webkit-scrollbar {
    width: 5px;
}

.sidebar-scroll::-webkit-scrollbar-track {
    background: #E8EFF6;
    border-radius: 5px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
    background-color: #E8EFF6;
    border: none;
}
